<div id="posts-wrapper" class="skinny-wrapper">
  <h4>Thanks for stopping by.</h4>
  <h4>I'm afraid we are not taking any new registrations at the moment.</h4>
  <br>
  <p><%= link_to 'Back', root_path %></p>
</div>
