<div id="interests"> <!-- Interests -->
  <br>
  <h4>Things I am interested in and would love to explore in the future</h4>
  <br>
  <div class="insterests-box">
    <ul class="row">
      <li class="col-sm-4 col-md-4"><%=link_to image_tag("angular.jpg"), "https://angularjs.org/", html: { alt: "Angular logo" } %></li>
      <li class="col-sm-4 col-md-4"><%=link_to image_tag("jquery.jpg"), "http://jquery.com/", html: { alt: "jQuery logo" } %></li>
      <li class="col-sm-4 col-md-4"><%=link_to image_tag("coffeescript.png"), "http://coffeescript.org/", html: { alt: "CoffeeScript logo" } %></li>
      <li class="col-sm-4 col-md-4"><%=link_to image_tag("ajax.jpg"), "https://developer.mozilla.org/en/docs/AJAX", html: { alt: "AJAX logo" } %></li>
      <li class="col-sm-4 col-md-4"><%=link_to image_tag("json.png"), "http://www.json.org/", html: { alt: "JSON logo" } %></li>
      <li class="col-sm-4 col-md-4"><%=link_to image_tag("haml.jpg"), "http://haml.info/", html: { alt: "HAML logo" } %></li>
      <li class="col-sm-4 col-md-4"><%=link_to image_tag("java.png"), "http://www.oracle.com/technetwork/java/index.html", html: { alt: "Java logo" } %></li>
      <li class="col-sm-4 col-md-4"><%=link_to image_tag("clojure.png"), "http://clojure.org/", html: { alt: "Clojure logo" } %></li>
      <li class="col-sm-4 col-md-4"><%=link_to image_tag("scala.jpg"), "http://www.scala-lang.org/", html: { alt: "Scala logo" } %></li>
      <li class="col-sm-4 col-md-4"><%=link_to image_tag("database.png"), "http://en.wikipedia.org/wiki/Database", html: { alt: "Database logo" } %></li>
      <li class="col-sm-4 col-md-4"><%=link_to image_tag("android.png"), "http://developer.android.com/index.html", html: { alt: "Android logo" } %></li>
      <li class="col-sm-4 col-md-4"><%=link_to image_tag("apple_apps.jpg"), "https://developer.apple.com/devcenter/ios/index.action", html: { alt: "Apple Apps logo" } %></li>
    </ul>
    <br class="clear" />
  </div>
</div>