<h1 id="page-title">About me</h1>
<div class="wrapper wrapper-padding clearfix">
  <div class="about homepage-content">
    <p>Hello and thank you for stopping by. My name is Charles.</p>
    <p>I'm a <a href="http://www.makersacademy.com">Makers Academy</a> graduate and former Senior Network Administrator. I'm also a Rubyist, Rails admirer, Javascript frameworks enthusiast, Test Driven Development advocate and overall technology explorer. My aim is to learn at least one new thing every single day.</p>
    <p>I am a natural explorer. I like to find out how things work and what makes them tick. I enjoy putting things apart and putting them back together even though sometimes I am left with a few "spare" bits. But that does not happen only to me, does it? </p>
    <p>I love writing code. What interests me most about software and web development is their dynamism. Nothing stays the same for a long period of time, everything is useful and recyclable, and nobody knows everything about everything. Writing code keeps me on my toes and that is a good thing. It pushes me forwards. It keeps me curious and I consider writing code as one of my daily pleasures. It does indeed drive me insane sometimes and I love the feeling.</p>
    <p>While retraining as a developer, I discovered Test Driven Development/Design (TDD) and Behaviour Drive Development/Design (BDD). Those are areas I intend to dive deeper and learn how to write test to apply to code I write. I particularly enjoy working with RSpec and Capybara. Now I intend to learn to work with Jasmine, Karma and Protractor. </p>
    <p>I mentioned I have trained at Makers Academy. Makers Academy is highly selective, 12-week full-time programme that teaches web development in London. The work they do is amazing and I had the pleasure to work with incredibly talented people; both lecturers and students. My experience at Makers was absolutely worth its value in gold.</p>
    <p>Now that I have completed my training, I am seeking work as a junior developer so as I can use my newly acquired skills and develop them even further. I would love to interact and collaborate with some incredibly passionate people who loves coding not as a job but something they have pleasure in doing.</p>
    <p>I am in search of great masters and great mentors.</p>
    <br>
    <%= render 'skills' %>
    <br>
    <%= render 'interests' %>
    <br>
    <p><%= link_to 'Back', root_path %></p>
  </div>
</div>