<h1 id="page-title">CV</h2>
<div class="wrapper wrapper-padding">
  <div class="homepage-content">
    <div id="cv">
      <div class="main-cv-header clearfix">
        <div id="me">
          <%= image_tag 'charles_de_barros.jpg' %>
        </div>
        <div class="cv-header">
          <h2>Charles De Barros</h2>
          <p><strong>Mobile:</strong> 0753 444 8169</p>
          <p><strong>Email:</strong> <a href="&#109;&#97;&#105;&#108;&#116;&#111;&#58;&#99;&#104;&#97;&#114;&#108;&#101;&#115;&#100;&#101;&#98;&#97;&#114;&#114;&#111;&#115;&#64;&#121;&#97;&#104;&#111;&#111;&#46;&#99;&#111;&#46;&#117;&#107;">Charles De Barros</a></p>
          <p><strong>GitHub:</strong> <%= link_to "https://github.com/charlesdebarros/", target: '_blank' %></p>
          <p><strong>LinkedIn:</strong> <%= link_to "https://www.linkedin.com/in/charlesdebarros", target: '_blank' %></p>
        </div>
      </div>
      <br>
      <div class="personal-statement">
        <h2>Personal statement</h2>
        <p>Web and software developer with an interest in Ruby, Rails and Object-Oriented Programming; also interested in Python, JavaScript frameworks, particularly AngularJS and Vue, and Agile methodologies. I enjoy experimenting with new technologies and I strive to learn something new everyday. My thirst for learning new things is my daily motivation. I aim to become a full stack developer. Opportunities to explore both back and front end development and taking part in all aspects of web development processes are what I am looking for. I am looking for great mentors and amazing managers.</p>
      </div>
      <br>
      <div class="tech-skills">
        <h2>Technical Skill</h2>
        <p>I have been trained and skilled at, but not restricted to:</p>
        <ul>
          <li>HTML, CSS, SASS, HAML</li>
          <li>Ruby, Rails, Sinatra</li>
          <li>JavaScript, jQuery, AngularJS</li>
          <li>Python</li>
          <li>Bootstrap and Foundation</li>
          <li>Git (GitHub & Bitbucket), Heroku, Jira</li>
          <li>Wordpress, Joomla!, Alfresco</li>
          <li>PostgreSQL and SQL</li>
        </ul>
      </div>
      <br>
      <div class="employment">
        <h2>Employment History</h2>
        <ul>
          <h3>02/18 – Present - UCL Institute of Education  ->  CLOSER Programmer</h3>
          <p>I am a full stack developer responsible for developing, improving and maintaining Archivist, CLOSER’s application used to input and manage various Longitudinal metadata/datasets from various studies from 1930s to this day. Archivist is built on a Ruby on Rails backend with AngularJS frontend. Archivist has some parsers specially built for it to parse XML files and other dataset specific formats. It is also reliant on PostgreSQL, Redis, XML (<a href="https://www.ddialliance.org/" style="color: #00a3df;">DDI Standard</a>) and various other libraries. Archivist has been developed as an Open Source project and is hosted on Heroku. </p>
        </ul>
        <ul>
          <h3>05/17 – 08/17 - Amigo Partnership  ->  Junior Developer</h3>
          <p>Backend development using Ruby on Rails creating efficient solutions for the clients’ requests and delivering them in a manageable time frame. Researching for alternative solutions and technologies. Amongst the technologies used on a daily basis were PostgreSQL, Heroku, AWS/S3 and PayPal. I also worked with Postman and Valentina Studio.</p>
        </ul>
        <ul>
          <h3>01/16 – 03/17 - Creative Virtual  ->  Software and Development Technician</h3>
          <p>Frontend development with HTML, CSS, Bootstrap, JS, and jQuery, following clients’ specifications. I worked with development and repository control using Git, workflow follow-up with Jira; setting up and maintenance Apache/Tomcat including setting up reverse proxies and TLS/SSL certificates. Python, PHP, Java, and SQL scripting, Windows Server setting up and maintenance (2003, 2008, 2012) and overall network administration were also part of my duties. We worked on weekly basis sprints.</p>
        </ul>
        <ul>
          <h3>04/15 – 07/15 - Evident Legal  ->  Junior Developer (Contract)</h3>
          <p>Develop apps using HTML, CSS, JavaScript, AngularJS, Node.js. My main project was to implement the Stripe payment system to the company’s website; this was to be achieved by the creating of an AngularJS directives. I worked with content management using Alfresco CMS. I was also asked to work on the optimisation of SEO friendly content. I used Jira to control the workflow and track projects progression. We used Slack for staff communication.</p>
        </ul>
        <ul>
          <h3>10/14 – 11/14 - QuiqUp  ->  Junior Software Developer  (Internship)</h3>
          <p>My intern project was on searching alternatives to replace Foursquare API used in the QuiqUp app. This was to be implemented using a Rails app parsing data from Google Maps API to gather info regarding business around a given postcode. As part of writing the Rails app, I had to write testing code using RSpec and Capybara ruby gems.</p>
        </ul>
        <ul>
          <h3>10/11 – 12/13 - Walthamstow Academy  ->  Senior Network Engineer</h3>
          <p>Provided support to users face to face and over the phone on issues with Microsoft Office XP, 2007/2010 suites. Managed and organised SpiceWorks, a helpdesk logging system.  Maintained and upgraded hardware (physical servers, desktops, laptops, cameras, to name a few). Set up, deployed and maintained VMWare and Veema environments. Managed and maintained a Panasonic Telephone system. I was the department’s deputy in the absence of our manager. As a side project, Developed webpages using HTML, CSS, jQuery, Wordpress and various plugins.</p>
        </ul>
        <ul>
          <h3>11/10 – 07/11 - Movement for Reform Judaism (contract)  ->  Network Support Analyst</h3>
          <p>I provided support to users face to face and over the phone with issues with Microsoft Office XP and 2007 suite. I maintained various servers including DC/Exchange and Virtual Servers on VMware. I created and adapted scripts for over the network deployment/update of various applications, such as Adobe Reader, Flash player, Mozilla Firefox, VLC, to name a few, based on the WPKG project scripts. I managed user accounts for Helpdesk/Resources access. I help maintain our Joomla! Based website.</p>
        </ul>
        <ul>
          <h3>03/10 – 09/10 - InPS – In Practice Systems (contract) -> Helpline Analyst</h3>
          <p>I provided support to NHS surgeries and private practices with issues with Microsoft Exchange Server, Windows Server (00, 03 and 08), MSOffice (03, 07 and 10), including MS Outlook, Internet Explorer, McAfee antivirus, Symantec backup. I also provided general hardware support to printers, scanner, back-up tape decks, UPS, touch screens and displays. Part of my duties involved contacting and liaising with third-party companies to open logs and assign engineers to sites across the UK.</p>
        </ul>
        <ul>
          <h3>09/07-04/09 - St. Anne’s Catholic High School for Girls, London -> Trainee English Teacher</h3>
          <h3>01/05-08/07 - Highlands School, London -> Teaching Assistant</h3>
          <h3>05/04-12/04 - Travelling</h3>
          <h3>06/02-05/04 - Livanos Groups, USA -> Accounts Assistant</h3>
          <h3>09/97-05/02 - VARIG – Brazilian Airlines, Brazil -> 1st Line Help-Desk Agent</h3>
        </ul>
      </div>
      <br>
      <div class="education-training">
        <h2>Education and IT Training</h2>
        <h3>17/02-09/05 - Makers Academy, London -> Web/Software Junior Development</h3>
        <p>Makers Academy is a 12-week web development bootcamp aiming to teach Ruby/Rails, TDD, HMTL/CSS/JavaScript, Git, Heroku, Agile and LEAN methodologies, database manipulation and software design among other things. Everything is put together in a final project. See my group’s final project, Slate, live at http://sl8.herokuapp.com/</p>
        <br>
        <p>A few examples of some Makers Academy’s and other projects:</p>
        <ul>
          <li>Boris Bikes - We built a system based on the London Boris Bikes initiative. The app should control the flow of bikes in and out docking stations. Broken bikes would be taken to garages to be fixed and then returned to various docking stations.  We used the following technologies: Ruby, Git, OOP, TDD (RSpec), CRC (Class-Responsibility Collaboration cards)</li>
          <li>Rock, Papers Scissors, Lizard and Spock - develop a Rock, Paper, Scissors game using JavaScript. We were requested to extend the game functionality to include 'Lizard' and 'Spock' as per the hilarious comedy show 'The Big Bang Theory'. Technologies used: Sinatra, TDD (RSpec, Jasmine), Shotgun, Heroku, jQuery, HTML, CSS, Google fonts. </li>
          <li>Yelp Clone – An exercise to fully understand the workings of Ruby on Rails by replicating the functionalities of Yelp.Users are able to add/edit a new restaurant and/or review a restaurant. Technologies used: Rails, Rspec, Capybara, PostgreSQL, CoffeeScript, JQuery, Devise, Heroku.</li>
          <li>Responsive Design – Creating a HTML/CSS only responsive website for monitors/tablets/mobile phone screens. </li>
          <li>Reddit Mock – An exercise to replicate the mock upvoting and downvoting features. Also experimenting with Devise gem to set users sign-up/sign-in system.</li>
          <li>Pinning Board – An experiment in replication the Pinterest functionalities using Rails, Bootstrap, HAML, Paperclip, Devise, Simple Form gems, among others. </li>
          <p><em>* Other projects can be seen at my <strong><%= link_to 'GitHub',"https://github.com/charlesdebarros/" %></strong> profile.</em></p>
        </ul>
        <h3>11/09-02/10 - Just IT Training Ltd -> Network Administrator Trainee</h3>
        <ul>
          <li>Just IT provides IT training in MCP Windows (XP/7/8), MCP Windows Server (2003/2008 R2), CompTIA A+ and Cisco CCNA.</li>
        </ul>
        <h3>02/94-12/97 - Rio de Janeiro State University, RJ, Brazil -> BA (honours) in English (1st)</h3>
        <h3>02/88-12/91 - Henrique Lage Industrial & Technology School, RJ, Brazil -> Diploma in Engineering and Architectural drawing</h3>
      </div>
      <br>
      <div class="interests-achievements">
        <h2>Interests and Achievements</h2>
        <ul>
          <li><strong>Computing:</strong> Linux OS (Fedora and Mint). I like puzzles and problem solving tasks. I am working my way up on <span style="color: #00a3df !important;"><%= link_to 'CodeWars', "https://www.codewars.com" %></span>. I enjoy learning new things and I have taken a few courses on <span style="color: #00a3df !important;"><%= link_to 'edX', "https://www.edx.org/" %></span>, <span style="color: #00a3df !important;"><%= link_to 'Udemy', "https://www.udemy.com/" %></span> and <span style="color: #00a3df !important;"><%= link_to 'Coursera', "https://www.coursera.org/" %></span>.</li>
          <li><strong>Hobbies:</strong> Filmmaking, photography, historical fiction, languages, baking</li>
          <li><strong>Language:</strong>  Native level Portuguese and English.</li>
        </ul>
      </div>
      <div class="button-wrapper">
        <p><%= link_to 'Download my CV', "https://drive.google.com/open?id=1dE0xHecHXsyhJ3tgfh0FUvV6A_o0-FRn", class: "project-button", target: '_blank' %></p>
      </div>
    </div>
  </div>
</div>