<h1 id="page-title">CV</h2>
<div class="wrapper wrapper-padding">
  <div class="homepage-content">
    <div id="cv">
      <div class="cv-header">
        <h2>Charles De Barros</h2>
        <p>39 Grove Road, London, N15 5HJ</p>
        <p>Mobile: 0753 444 8169</p>    
        <p>Email: <a href="&#109;&#97;&#105;&#108;&#116;&#111;&#58;&#99;&#104;&#97;&#114;&#108;&#101;&#115;&#100;&#101;&#98;&#97;&#114;&#114;&#111;&#115;&#64;&#121;&#97;&#104;&#111;&#111;&#46;&#99;&#111;&#46;&#117;&#107;">Charles De Barros</a></p>
        <p><a href="https://github.com/charlesdebarros/" target="_blank">GitHub</a></p>
        <p><a href="https://uk.linkedin.com/in/charlesdebarros" target="_blank">LinkedIn</a></p>
      </div>
      <hr>
      <div class="personal-statement">
        <h2>Personal statement</h2>
        <p>Junior web/software developer trained at Makers Academy with an interest in Ruby/RoR/OOP, JavaScript frameworks, particularly AngularJS, and Agile methodologies. My objective is to become a full stack developer. Opportunities to explore both back and front-end development and taking part in all aspects of web development processes are what I am looking for.</p>
      </div>
      <hr>
      <div class="tech-skills">
        <h2>Technical Skill</h2>
        <p>I am trained and skilled at, but not restricted to:</p>
        <ul>
          <li>HTML/CSS/SASS/HAML</li>
          <li>Ruby, Rails, Sinatra</li>
          <li>JavaScript/AngularJS</li>
          <li>Bootstrap and Foundation</li>
          <li>Git (GitHub and Bitbucket), Heroku</li>
          <li>Wordpress, Joomla!</li>
        </ul>
      </div>
      <hr>
      <div class="employment">
        <h2>Employment History</h2>   
        <ul>
          <h3>04/15 – 07/15 - Evident Legal  ->  Junior Developer (Contract)</h3>
          <li>Develop apps using HTML, CSS, JavaScript, AngularJS, Node.js and the Stripe payment system.</li>
          <li>Content management with Alfresco CMS.</li>
          <li>Document automation with Exari.</li>
          <li>Jira issue and project track software with Slack for staff communication.</li>
        </ul>
        <ul>
          <h3>10/14 – 11/14 - QuiqUp  ->  Junior Software Developer  (Internship)</h3>
          <li>Searching alternatives to replace the, until the time of this writing, Foursquare API used in the QuiqUp app</li>
          <li>Writing a Rails app to parse the data from Google API to gather info regarding business around a given postcode</li>
          <li>Write testing code for the Rails application (RSpec, Capybara)</li>
          <li>Use Github to version control the app development</li>
          <li>Use gems such as SideKiq and Patron to set html sessions within the app.</li>
        </ul>
        <ul>
          <h3>10/11 – 12/13 - Walthamstow Academy  ->  2nd Line Network Engineer</h3>
          <li>Supporting users face to face and over the phone on issues with Microsoft Office XP, 2007 and 2010 suites.</li>
          <li>Managing and organising our helpdesk application - SpiceWorks</li>
          <li>Maintaining and upgrading hardware (desktops, laptops, cameras, etc)</li>
          <li>Setting up, deploying and maintaining VMWare and Veema environments</li>
          <li>Testing and deploying wireless systems</li>
          <li>Development of webpage using HTML, CSS, jQuery and PHP with Wordpress and various plugins.</li>
          <li>Managing and maintaining Panasonic Telephone system.</li>
        </ul>
        <ul>
          <h3>11/10 – 07/11 - Movement for Reform Judaism (contract)  ->  Network Support Analyst</h3>
          <li>Supporting users face to face and over the phone with issues with Microsoft Office XP and 2007 suite</li>
          <li>Maintaining various servers including DC/Exchange and Virtual Servers on VMware</li>
          <li>Creating and adapting scripts for over the network deployment/update of various applications, such as Adobe Reader, Flash player, Mozilla Firefox, VLC, among other, based on the WPKG project scripts; </li>
          <li>Managing user accounts for Helpdesk/Resources access. Our websites use Joomla! templates and open source applications and code snippets, mostly from the WPKG project.</li>
          <li>Managing user accounts in Active Directory and Exchange Server </li>
        </ul>
        <ul>
          <h3>03/10 – 09/10 - InPS – In Practice Systems (contract) -> Helpline Analyst</h3>
          <li>Supporting NHS surgeries and private practices with issues with Microsoft Exchange Server, Windows Server 2000, 2003 and 2008, Microsoft Office 2003, 2007 and 2010, including MS Outlook, Internet Explorer, McAfee antivirus, Symantec backup</li>
          <li>Providing general hardware support to printers, scanner, backup tape decks, UPS, touch screens and displays</li>
          <li>Supporting both LAN and Hosted environments</li>
          <li>Providing remote support using RDP connections, PC Anywhere, VNC and internet based remote access</li>
          <li>Contacting and liaising with third-party companies to open logs and assign engineers to sites across the UK</li>
        </ul>
        <ul>
          <h3>09/07-04/09 - St. Anne’s Catholic High School for Girls, London -> Trainee English Teacher</h3>
          <h3>01/05-08/07 - Highlands School, London -> Teaching Assistant</h3>
          <h3>05/04-12/04 - Travelling</h3>
          <h3>06/02-05/04 - Livanos Groups, USA -> Accounts Assistant</h3>
          <h3>09/97-05/02 - VARIG – Brazilian Airlines, Brazil -> 1st Line Help-Desk Agent</h3>
        </ul>    
      </div>
      <hr>
      <div class="education-training">
        <h2>Education and IT Training</h2>
        <h3>17/02-09/05 - Makers Academy, London -> Web/Software Junior Development</h3>
        <p>Makers Academy is a 12-week web development bootcamp aiming to teach Ruby/Rails, TDD, HMTL/CSS/JavaScript, Git, Heroku, Agile and LEAN methodologies, database manipulation and software design among other things. Everything is put together in a final project. See my group’s final project, Slate, live at http://sl8.herokuapp.com/</p>
        <br>
        <p>A few examples of some Makers Academy’s and other projects:</p>
        <ul>
          <li>Boris Bikes - We built a system based on the London Boris Bikes initiative. The app should control the flow of bikes in and out docking stations. Broken bikes would be taken to garages to be fixed and then returned to various docking stations.  We used the following technologies: Ruby, Git, OOP, TDD (RSpec), CRC (Class-Responsibility Collaboration cards)</li>
          <li>Rock, Papers Scissors, Lizard and Spock - develop a Rock, Paper, Scissors game using JavaScript. We were requested to extend the game functionality to include 'Lizard' and 'Spock' as per the hilarious comedy show 'The Big Bang Theory'. Technologies used: Sinatra, TDD (RSpec, Jasmine), Shotgun, Heroku, jQuery, HTML, CSS, Google fonts. </li>
          <li>Yelp Clone – An exercise to fully understand the workings of Ruby on Rails by replicating the functionalities of Yelp.Users are able to add/edit a new restaurant and/or review a restaurant. Technologies used: Rails, Rspec, Capybara, PostgreSQL, CoffeeScript, JQuery, Devise, Heroku.</li>
          <li>Responsive Design – Creating a HTML/CSS only responsive website for monitors/tablets/mobile phone screens. </li>
          <li>Reddit Mock – An exercise to replicate the mock upvoting and downvoting features. Also experimenting with Devise gem to set users sign-up/sign-in system.</li>
          <li>Pinning Board – An experiment in replication the Pinterest functionalities using Rails, Bootstrap, HAML, Paperclip, Devise, Simple Form gems, among others. </li>
          <p><em>* Other projects can be seen at my <strong><%= link_to 'GitHub',"https://github.com/charlesdebarros/" %></strong> profile.</em></p>
        </ul>
        <h3>11/09-02/10 - Just IT Training Ltd -> London Network Professional Programme</h3>
        <ul>
          <li>Just IT provides IT training in MCP Windows (XP/7/8), MCP Windows Server (2003/2008 R2), CompTIA A+ and Cisco CCNA.</li>
        </ul>
        <h3>02/94-12/97 - Rio de Janeiro State University, RJ, Brazil -> BA (honours) in English (1st)</h3>
        <h3>02/88-12/91 - Henrique Lage Industrial & Technology School, RJ, Brazil -> Diploma in Engineering and Architectural drawing</h3>
      </div>
      <hr>
      <div class="interests-achievements">
        <h2>Interests and Achievements</h2>
        <ul>
          <li><strong>Computing:</strong> I’m a huge fan of Open Source applications particularly Linux OS. I like puzzles and problem solving tasks.</li>
          <li><strong>Hobbies:</strong> Filmmaking, photography, historical fiction, languages</li>
          <li><strong>Language:</strong>  Native level Portuguese and English.</li>
        </ul> 
      </div>

      <h6><em>References available on request</em></h6>
    </div>
  </div>
</div>