<h1 id="page-title">Welcome</h1>
<div class="wrapper wrapper-padding clearfix">
  <div class="about homepage-content">
    <div class="index_me">
      <%= image_tag 'charles_de_barros.jpg' %>
    </div>
    <p>Hello and thank you for stopping by. My name is Charles.</p>
    <p>Before you continue, please keep in mind that <strong><em>I am in the process of redoing this site</em></strong> so please forgive me if something is broken and I missed it. Drop me a line and I will strive to have it fixed it as quickly as I can. Thank you.  ;)
    </p>
    <p>I'm a <a href="http://www.makersacademy.com/">Makers Academy</a> graduate and former Senior Network Administrator. I'm also a Rubyist, Rails admirer, Test Driven Development advocate and overal technology explorer. My aim is to learn at least one new thing every single day.</p>
    <p>I am a natural explorer. I like to find out how things work and what makes them tick. I enjoy putting things apart and putting them back together. Though sometimes I am left with a few "spare" bits. But that does not happen only to me, does it? </p>
    <p><%= link_to 'Read more', welcome_about_path %></p>
  </div>
</div>
