<div class="wrapper wrapper-padding clearfix">
    <div class="col-1 about homepage-content">
        <h2>About</h2>
        <hr>
        <p>I’m a <a href="http://www.makersacademy.com/">Makers Academy</a> graduate and former Senior Network Administrator. I’m also a Rubyist, Rails admirer, Test Driven Development advocate and overal technology explorer. <a href="https://www.ruby-lang.org/en/">Ruby</a> rocks!!!</p>

        <p>Recently I have been working with AngularJS and I am loving the experience. It is no wonder that my moto is to learn at least one new thing every single day. I am a natural explorer. I like to find out how things work and what makes them tick.</p>

        <p>I enjoy putting things apart and putting them back together. Though sometimes I am left with a few “spare” bits. But that does not happen only to me, does it?</p>
    </div>
    <div class="col-2 homepage-content">
        <h2>Things I've written</h2>
        <hr>
        <% @posts.each do |post| %>
        <h3><a href="#"><%= link_to post.title, post %></a></h3>
        <p class="date"><%= post.created_at.strftime("%A, %b %d") %></p>
        <hr>
        <% end %>
    </div>
    <div class="col-3 homepage-content">
        <h2>Things I've built</h2>
        <hr>
        <h3><a href="#">Slate - Makers final project</a></h3>
        <p class="date">Friday, 26th September, 2015</p>
        <h3><a href="#">Boris Bikes</a></h3>
        <p class="date">Friday, 19th September, 2015</p>
        <h3><a href="#">Sudoku Online</a></h3>
        <p class="date">Friday, 12th September, 2015</p>
        <h3><a href="#"> Todo list in Rails</a></h3>
        <p class="date">Friday, 05th September, 2015</p>
    </div>
</div>