#skills, #about, #interests {
  width: 100%;
  padding: 0 7em;
  border-bottom: 1px solid #d6dce0;
  @media screen and (max-width: $break-small) {
    padding: 0;
  }
}

// Skills

#skills, #interests {
  background-color: #ddd;
  .skills-box, .insterests-box {
    ul {
      width: 80%;
      height: 18rem;
      margin: 0 auto;
      @media screen and (max-width: $break-small) {
        width: auto;
        margin: auto 10%;
        height: 21rem;
        padding: 0;
      }
      li {
        list-style: none;
        margin: auto;
        float: left;
        @media screen and (max-width: $break-small) {
        }
        a {
          transition: all .4s ease;
          img {
            width: 100px;
            height: 100px;
            margin: 5px;
            padding: 5px;
            border: 1px solid #000;
            -webkit-transition: all .05s ease-out;
            -moz-transition: all .05s ease-out;
            -o-transition: all .05s ease-out;
            transition: all .05s ease-out;
          }
          &:hover {
            img {
              transform: scale(1.075);
              background-color: #444;
            }
          }
        }
      }
    }
    .clear { clear: both; }
    @media screen and (max-width: $break-small) {
      padding: none;
      margin: auto;
      ul {
        margin-bottom: 20%;
        li {
          a {
            img {
              width: 66px;
              height: 66px;
            }
          }
        }
      }
    }
  }

  h4 {
    width: 100%;
    text-align: center;
    margin-left: 1em;
    padding: 1rem 0;
    @media screen and (max-width: $break-small) {
      width: 90%;
      font-size: 0.9rem;
      padding: 0;
    }
  }
}
