.col-1, .col-2, .col-3 {
  float: left;
}

.col-1 {
  width: 100%;
  padding: 0 5% 0 2.5%;
}

.col-2, .col-3 {
  width: 25%;
  padding: 0 2.5%;
}

.homepage-content {
  h2 {
    font-size: 1.1em;
    text-transform: uppercase;
  }
  h3 {
    font-size: 1.2rem;
    font-weight: 400;
    margin-bottom: 0.5rem;
  }
  a {
    text-decoration: none;
    color: $dark-grey;
    &:hover {
      color: $light-blue;
    }
  }
  .date {
    font-size: 0.85rem;
    margin-bottom: 2rem;
    color: $lighter-grey;
  }
  p {
    margin: 0 0 0.75rem 0;
    font-size: 1rem;
  }
  @media screen and (max-width: $break-small) {
    p {
      font-size: 0.9rem;
    }
  }
}

.about {
  padding: 0 0.75% 0 0;
  a {
    color: $light-blue;
    font-weight: 700;
    text-decoration: none;
  }
  .index_me {
    text-align: center;
    img {
      width: 20%;
      height: 20%;
      margin-bottom: 45px;
      border: 1px solid #aaa;
      border-radius: 50%;
    }
    @media screen and (max-width: $break-small) {
      img {
        width: 50%;
        height: 50%;
        margin: -15px 0 15px 0;
      }
    }
  }
}
