@import 'normalize';
$white: #ffffff;
$black: #000000;
$gold: #DAA82F;
$dark-grey: #424652;
$lighter-grey: #5d6372;
$light-grey: #dddddd;
$light-blue: #00a3df;
$border: #aaaaaa;

$break-small: 420px;
$break-large: 1200px;

* {
  box-sizing: border-box;
}

body {
  font-family: 'Raleway', sans-serif;
}

.wrapper {
  width: 90%;
  margin: 0 auto;
}

.skinny-wrapper {
  width: 80%;
  max-width: 760px;
  margin: 0 auto;
}

.wrapper-padding {
  padding: 2rem 0 3rem 0;
}

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

// Hides the nickname label and text-field
.hidden {
  display: none;
}

h1, h2, h3, h4, h5, h6 {
  color: $dark-grey;
}

h1 { font-size: 2.5rem; }
h2 { font-size: 2rem; }
h3 { font-size: 1.75rem; }
h4 { font-size: 1.375rem; }
h5 { font-size: 1.25rem; }
h6 { font-size: 1rem; }
p, li { font-size: 1.1em; line-height: 1.75; }
p, ul, ol { margin: 0 0 1.6rem 0; }

hr {
  width: 3rem;
  display: block;
  height: 2px;
  border: 0;
  border-top: 2px solid $light-blue;
  margin: 2rem 0;
}

#main-navigation {
  padding: .75rem 5%;
  background-color: $black;
  border-bottom: 5px solid $gold;
  @media screen and (max-width: $break-small) {
    padding: 0.9em 5%;
  }
  .name {
    font-weight: 700;
    font-size: .8rem;
    letter-spacing: 3px;
    text-transform: uppercase;
    border: 2px solid $gold;
    padding: 1rem 1.5rem;
    text-decoration: none;
    color: $gold;
    float: left;
    &:hover {
      color: $light-blue;
      border: 2px solid $light-blue;
    }
    @media screen and (max-width: $break-small) {
      width: 100%;
      text-align: center;
      .name {
        float: none;
      }
    }
  }
  nav {
    float: right;
    padding-top: 1rem;
    a {
      color: $light-grey;
      text-decoration: none;
      margin: 0 1rem;
      font-size: 0.9rem;
      &:active{
        color: $light-blue;
      }
      &:hover {
        color: $light-blue;
      }
    }
    @media screen and (max-width: $break-small) {
      width: auto;
      text-align: center;
      float: none;
      clear: both;
      padding: 7% 5% 3% 5%;
    }
  }
}

.notice, .alert {
  text-align: center;
  padding: 1rem 0;
  margin-bottom: 0;
}

.notice {
  background-color: #DAA82F;
}

#page-title {
    font-size: 1rem;
    text-align: center;
    margin-top: 0;
    background-color: $gold;
    border-top: 5px solid $black;
    padding: 1.5rem 0;
    text-transform: uppercase;
    color: $white;
    @media screen and (max-width: $break-small) {
      font-size: 0.9rem;
      margin-top: 0;
      padding: 0.7rem 0;
    }
}

#main-footer {
  padding: 1rem 5% 0 5%;
  clear: top;
  width: 100%;
  position: fixed;
  bottom: 0;
  background-color: $black;
  color: $light-grey;
  border-top: 5px solid $gold;
  .copyright {
    float: left;
    font-size: 0.9rem;
    margin: 0;
  }
  nav {
    float: right;
    i {
      color: $light-grey;
      margin-left: 1rem;
      padding-top: 0.2rem;
      &:hover { color: $light-blue; }
    }
  }
}

input[type="text"], input[type="email"], input[type="password"], textarea {
  width: 100%;
  max-width: 100%;
  height: 3rem;
  border: 2px solid $border;
  padding: 0.8rem 1rem;
  margin: 0.5rem 0 1rem 0;
}

textarea {
  min-height: 15em;
}

input[type="submit"], .button {
  outline: none;
  background: transparent;
  border: 2px solid $border;
  text-align: center;
  font-size: 1em;
  color: $dark-grey;
  text-decoration: none;
  padding: 1rem 2rem;
  &:hover {
    border: 2px solid $light-blue;
    color: $light-blue;
  }
}

.button-wrapper {
  margin: 3em 0 2em 0;
  text-align: center;
 .project-button {
    text-decoration: none;
    background: $light-blue;
    color: $white;
    padding: 1em 2em;
  }
}



@import 'welcome';
@import 'posts_and_projects';
@import 'pygments';
@import 'skills';
@import 'cv';
